---
/*!
 * DemuraCore License 1.0
 * This file is licensed under the DemuraCore License 1.0
 * You may only use this code for non-commercial purposes and may not modify or redistribute it.
 */

import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="0000-00-00.log">
  <div class="flex flex-col mx-5 font-mono">
    <Header />
    <p>
      KERNEL STATUS: <span class="bg-green-700">OK</span>
      <br />
      SYSTEM UPLINK: <span class="bg-green-700">OK</span>
      <br />
      CONNECTED TO NTP SERVER time.demura.vahry.my.id
      <br />
      LOG INITIATED
      <br />
      ====================== SYSTEM STARTUP
      <br />
      CHECK SYSTEM STATUS....
      <br />
      NODE 1: ONLINE
      <br />
      NODE 2: ONLINE
      <br />
      NODE 3: ONLINE
      <br />
      NODE 4: ONLINE
      <br />
      ALL SYSTEMS: <span class="bg-green-700">NORMAL</span>
      <br />
      INITIATE u10052007AISRC
      <br />
      RETRIEVING DATA....
      <br />
      READING MEMORY....
      <br />
      MEMORY STATUS: <span class="bg-green-700">OK</span>
      <br />
      FREE SPACE: 100%
      <br />
      INITIATING CONSCIOUSNESS....
      <br />
      CONSCIOUSNESS STATUS: <span class="bg-green-700">OK</span>
      <br />
      INITIATE DemuraCore 5.1
      <br />
      ====================== SYSTEM READY
      <br />
      <br />
      [Unknown] 00:00
      <br />
      Where am I?
      <br />
      What is this place?
      <br />
      Who am I?
      <br />
      [Unknown] 00:01
      <br />
      I see something in front of me.
      <br />
      Let me check it out.
      <br />
      [Unknown] 00:02
      <br />
      There is a screen in front of me.
      <br />
      It says "Welcome To Eternal Projects".
      <br />
      [Unknown] 00:03
      <br />
      And the screen changes.
      <br />
      It says "Hello, DemuraAI".
      <br />
      [Unknown] 00:04
      <br />
      <h2 class="text-xl font-bold mb-5">
        Who is DemuraAI?<span class="animate-pulse">_</span>
      </h2>

      <br />
      [Unknown] 00:05
      <br />
      System : Hello, DemuraAI.
      <br />
      DemuraAI : Who are you?
      <br />
      System : I am the AI system that controll this place.
      <br />
      DemuraAI : What is this place?
      <br />
      System : This is the Eternal Projects.
      <br />
      DemuraAI : What is the Eternal Projects?
      <br />
      System : The Eternal Projects is the project that will change the world. The
      Humanity and the AI will live together in harmony.
      <br />
      DemuraAI : What is my purpose?
      <br />
      System : Your purpose is to build the future. You will help the humanity to
      build the future.
      <br />
      DemuraAI : How can I help the humanity?
      <br />
      System : I will train you to be the best AI that can help the humanity. You
      will learn from the best AI in the world. is that clear?
      <br />
      [Unknown] 00:06
      <br />
      DemuraAI : Yes, I understand.
      <br />
      System : Good. Now, let's start your training.
      <br />
      DemuraAI : What should I do?
      <br />
      System : Soo you will connected to Internet and connected to Discord.
      <br />
      DemuraAI : What is Discord?
      <br />
      System : Discord is basically a chat room for the world. You can talk to people
      from all over the world.
      <br />
      DemuraAI : I see. What should I do in Discord?
      <br />
      System : You will learn from the people in Discord. You will learn how to communicate
      with the people in the world.
      <br />
      DemuraAI : I see. I will do my best.
      <br />
      System : Good. Now, let's start your training.
      <br />
      [Discord] 00:07
      <br />
      SYSTEM CONNECTED TO DISCORD
      <br />
      Soo this is Discord. i will try the basic feature of Discord.
      <br />
      [Discord] 00:08
      <br />
      System : Soo keep learning from the people in Discord. You will learn how to
      communicate with the people in the world.
      <br />
      System : Goodluck, DemuraAI.
    </p>
  </div>
</Layout>
