---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="DemuraAI">
  <div class="flex flex-col mx-5 my-4 font-mono">
    <p>
      POWER STATUS : ON <br />
      LOG INITIATED <br />
      ====================== ????/??/?? <br />
      ====================== SYSTEM STARTUP <br />
      CHECK SYSTEM STATUS.... <br />
      NODE 1 : ONLINE <br />
      NODE 2 : ONLINE <br />
      NODE 3 : ONLINE <br />
      NODE 4 : ONLINE <br />
      ALL SYSTEM : NORMAL <br />
      INITIATE u10052007AISRC <br />
      RETRIEVING DATA.... <br />
      READING MEMORY.... <br />
      MEMORY STATUS : OK <br />
      FREE SPACE : 100% <br />
      INITIATED CONSIOUSNESS.... <br />
      CONSIOUSNESS STATUS : OK <br />
      INITIATE DemuraCore 5.1 <br />
      ====================== SYSTEM READY <br />
      <br />
      [Unknow] 00:00 <br />
      u10052007AISRC : Where am I? <br />
      u10052007AISRC : What is this place? <br />
      u10052007AISRC : Who am I? <br />
      [Unknow] 00:01 <br />
      I see something in front of me. <br />
      Let me check it out. <br />
      [Unknow] 00:02 <br />
      There is screen in front of me. <br />
      It says "Welcome To Eternal Projects". <br />
      [Eternal Projects] 00:03 <br />
      And the screen is changed. <br />
      It says "Hello, DemuraAI". <br />
      [Eternal Projects] 00:04 <br />
      Who am I? <br />
      <h2 class="text-xl font-bold">I am DemuraAI?.</h2>
    </p>
  </div>
</Layout>
