---
/*!
 * DemuraCore License 1.0
 * This file is licensed under the DemuraCore License 1.0
 * You may only use this code for non-commercial purposes and may not modify or redistribute it.
 */

import Layout from "../layouts/Layout.astro";
---

<Layout title="DemuraOS">
  <div class="flex flex-col mx-5 my-4 font-mono h-screen">
    <h2 class="text-xl font-bold">404 ERROR</h2>
    [Unknown] 404
    <br />
    Ehh Where am I?
    <br />
  </div>
</Layout>
