---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="DemuraAI">
  <div class="flex flex-col items-center justify-center h-screen mx-5">
    <Image src="/Demura.svg" alt="A bird." width="500" height="500" />
    <p class="text-lg tracking-wide glow-effect">The Eternal Projects</p>
  </div>
</Layout>
