---
/*!
 * DemuraCore License 1.0
 * This file is licensed under the DemuraCore License 1.0
 * You may only use this code for non-commercial purposes and may not modify or redistribute it.
 */

import Layout from "../layouts/Layout.astro";
---

<Layout title="DemuraOS">
  <div class="flex flex-col mx-5 my-4 font-mono h-screen">
    <h2 class="text-xl font-bold">Log</h2>
    <a href="/log/0000-00-00">0000-00-00.log</a>
  </div>
</Layout>
