/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-effect {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5),
    0 0 16px rgba(255, 255, 255, 0.5);
}
