---
const currentYear = new Date().getFullYear();
---

<footer class="bg-[#191919] text-center">
  <div class="container mx-auto py-4">
    <!-- Add Link  -->
    <a
      href="https://api.demura.vahry.my.id"
      class="text-white text-lg font-bold hover:underline"
    >
      API
    </a>
    <p class="text-white text-sm">
      &copy; {currentYear} DemuraAI. All rights reserved.
    </p>
  </div>
</footer>
