---
import "../style/base.css";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-r from-black via-gray-800 to-black text-white bg-[length:300%_100%] animate-gradient-move"
  >
    <slot />
    <Footer />
    <audio id="background-music" src="/music.mp3" autoplay loop></audio>
  </body>

  <script>
    console.log("Music By Antent");
    console.log("DemuraAI");
    console.log("The Eternal Projects");
  </script>
</html>
